@model IEnumerable<onlineshop.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORYID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCTSKU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SHORTDESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISACTIVE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UNITCOST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UNITPRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WEIGHT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCTSTOCK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCTDESCOUNT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HEADER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FOOTER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISTAXED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISDESCOUNT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOCATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SMALLIMAGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEDIUMIMAGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LARGEIMAGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXTRA1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXTRA2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORYID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCTSKU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SHORTDESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISACTIVE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UNITCOST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UNITPRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WEIGHT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCTSTOCK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCTDESCOUNT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HEADER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FOOTER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISTAXED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISDESCOUNT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOCATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SMALLIMAGE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEDIUMIMAGE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LARGEIMAGE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXTRA1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXTRA2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PRODUCTID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PRODUCTID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PRODUCTID })
        </td>
    </tr>
}

</table>
